<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<form id="ask-form-<%- newsletterid %>" method="get" enctype="multipart/form-data" action="<%- formaction %>" class="wk-mp-deny-form">
    <div class="modal-body">
        <div class="bootbox-body">
<!--            <textarea class="bootbox-input bootbox-input-text form-control required-entry" name="product_deny_reason" rows="4" cols="83"></textarea><br>-->
            <input type="hidden" name="mageproduct_id" value="<%- newsletterid %>">
            <input type="hidden" name="newsletterid" value="<%- newsletterid %>">
        </div>
    </div>
    <div class="modal-footer">
        <span class="error"></span>
<!--        <button type="reset" class="btn btn-default"><span><%- cancellabel %></span></button>-->
        <button type="submit" class="btn btn-primary"><span><%- submitlabel %></span></button>
        <span class="clear"></span>
    </div>
</form>
<script>
    require([
        "jquery",
        "mage/mage"
    ], function($){
        $('#ask-form-<%- newsletterid %>').mage('validation', {});
        $("body").delegate('.action-close',"click",function(){
            console.log($(this).parents('.modals-wrapper').find('form').attr('class'));
            if($(this).parents('.modals-wrapper').find('form').attr('class')=='wk-mp-deny-form'){
                $(this).parents('.modals-wrapper').find('.modals-overlay').remove();
                $(this).parents('.modal-popup').remove();
                $('body').removeClass('_has-modal');
            }
        });
    });
</script>
